<%- include('includes/head.ejs')  %>
<%- include('includes/navigation.ejs')  %>
    <h1>Some error ocurred!</h1>
    <p>We're working on fixing this, sorry for the inconcenience!</p>
<%- include('includes/end.ejs')  %>
